[run]
branch = True
source =
    users
    config
omit =
    */migrations/*
    */tests/*
    manage.py
    config/wsgi.py
    config/asgi.py
    **/__init__.py

[report]
show_missing = True
skip_empty = True
fail_under = 85

[html]
directory = coverage_html
