# --- App ---
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# --- CORS/CSRF ---
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://localhost:3000

# --- Django server ---
BACKEND_PORT=8000

# --- DB (SQLite par défaut). Pour Postgres
# POSTGRES_DB=weeb
# POSTGRES_USER=weeb
# POSTGRES_PASSWORD=weeb
# POSTGRES_HOST=db
# POSTGRES_PORT=5432
